<!DOCTYPE html>
<html lang="en">

<head>
    {{> postman-head }}
    <script>var postman = {{{postman postman}}}</script>
</head>

<body data-spy="scroll" data-target="#nav-list" data-offset="0">

    <div class="container-fluid">
        
        <div id="barwrapper" class="clearfix faded-left-pane-bg">
            <i class="fas fa-code slider"></i>
            <div id="langsel">
                <div class="dropdown">
                    <button id="dropdownMenuButton" type="button" class="button button--secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Language - cURL
                    </button>
                    <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                        {{#each mycollection.codelanguages as |language index|}}
                            <a class="{{language.lang}} dropdown-item{{#unless index}} activelang{{/unless}}" href="#">{{language.display}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <a id="col-select">Toggle columns</a>
            <!--<div data-toggle="tooltip" data-placement="left" title data-original-title="Toggle side view" id="col-select"><i
                    class="far fa-window-maximize"></i>
            </div>-->
        </div>
        
        <div class="row">
            <div id="template-main-nav" class="col-md-2">
                <div id="navigation">
                    <h1>{{mycollection.name}}</h1>
                    <div id="nav-search">
                        <div id="jump-bar" class="clearfix">
                            <i class="fas fa-search"></i>
                            <input id="search-box" type="text" placeholder="Jump to...">
                            <span id="search-close" class="hidden"><i class="far fa-times-circle"></i></span>
                        </div>
                        
                        <ul id="nav-search-list" class="hidden">
                            {{#each mycollection.toc as |entry key|}}
                                <li><a href="#{{entry.htmlid}}">{{entry.name}}</a></li>
                            {{/each}}
                            
                        </ul>
                        <div id="toggle-all"><p><a class="expand all" href="#">Expand all</a> <span><a class="collapse all disabled" href="#">Collapse all</a></span></p></div>
                    </div>
                    <ul class="nav" id="nav-list">
                        {{{mycollection.tochtml}}}
                    </ul>
                </div>
                <div id="offpage-wrapper">
                    <ul id="nav-list-offpage">
                        {{{mycollection.tochtml}}}
                    </ul>
                    
                </div>
            </div>

            <div id="template-main-content" class="col-md-10">
                <div class="content-pro">
                    <a id="top"></a>
                    <h1 id="api-title">{{mycollection.name}}</h1>
                    <div class="description">{{{mycollection.descriptions.[0].description}}}</div>

                    {{#each mycollection.pagehtml as |section index|}}

                        <div class="content-sect">
                            {{#unless section.isMethod}}
                                {{{createheading section.title section.headlevel section.htmlid}}}
                                <div class="content-sub-desc">
                                    {{{section.description}}}
                                </div>
                            {{else}}
                                {{~> postman-method section.method ~}}
                            {{/unless}}
                        </div>
                        

                    {{/each}}

                </div>
            </div>
        </div>
    </div>
    {{> postman-tail}}
</body>

</html>